.blog {
	&-header {
		margin-bottom: 1em;
	}

	&-title {
		margin-bottom: 0;
		cursor: pointer;
	}

	&-published {
		font-size: rem(20);
		color: $color-black;

	}

	&-tag.tag {
		border: 2px solid $color-secondary;
		padding: 5px;
		font-size: rem(9);
		width: 100px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}
	}

	&-read-more {
		transition: 0.3s;
	}

	
}