.footer {
	position: relative;
	margin-top: 65px;
	color: $color-white;
	

	a {
		color: $color-white;
		font-family: Montserrat;
		font-size: 0.85em;
		letter-spacing: 1.5px;
	}

	&-wrap {
		overflow: hidden;
		position: relative;
		&:after {
			content:'';
		   position:absolute;
		   top: 0;
		   left: 50%;
		   transform: translate(-50%, -50%);
		   width: 108px;
		   height: 108px;
		   border-radius: 100%;
		   // box-shadow: 0px 10000px 0px 10000px $color-primary;
		}
	}

	.container {
		display: block;
		position: relative;
		z-index: 1;
		

		@include breakpoint(desktop) {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	&-share, &-links {
		width: 100%;
		margin: 0px auto;
		text-align: center;

		@include breakpoint(desktop) {
			flex-direction: row;
			width: 50%;
			margin: 20px auto 0;
		}

		li {
			display: inline-block;
			list-style-type: none;
			padding: 10px;
		}
	}

	&-share {
		display: block;
		font-size: 1.25em;
		margin-top: 65px;

		@include breakpoint(desktop) {
			margin-top: 20px;
			display: inline-flex;
		}	
	}

	&-links {
		display: none;
		align-self: flex-end;
		justify-content: flex-end;

		@include breakpoint(desktop) {
			margin-top: 20px;
			display: inline-flex;
		}	
	}

	&-logo {
		display: block;
		
		width: 100px;
		height: 100px;
		border-width: 4px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		overflow: hidden;
		background-image: url('../images/mii.png');
		background-size: 100px;
		background-position: 60% 5px;
		background-repeat: no-repeat;
		cursor: pointer;

		&-wrap {
			width: 108px;
			height: 108px;
			// background-color: $color-white;
			// background: linear-gradient(180deg, transparent 50%, white 50%);
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 0%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}

		&:active {
			background-image: url('../images/mii-wink.png');
		}
	}

	&-legal {
		text-align: center;
		display: block;
		margin: 10px auto;

		@include breakpoint(desktop) {
			display: flex;
		}
	}
}

.footer-logo {
	display: block;
	
	width: 100px;
	height: 100px;
	border-width: 4px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	overflow: hidden;
	background-image: url('../images/mii.png');
	background-size: 100px;
	background-position: 60% 5px;
	background-repeat: no-repeat;
	cursor: pointer;

	&-wrap {
		width: 108px;
		height: 108px;
		// background-color: $color-white;
		// background: linear-gradient(180deg, transparent 50%, white 50%);
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 0%;
		transform: translate(-50%, -50%);
	}

	&:active {
		background-image: url('../images/mii-wink.png');
	}
}