.portfolio {
	display: block;

	&-grid {
		display: block;
		margin: 0;
		@include clearfix();
	}

	&-piece {
		display: inline-block;
		list-style-type: none;
		position: relative;
		z-index: 0;
		cursor: pointer;
		margin-bottom: 2.8%;
		transition: all 0.5s;
		transition-delay: 0.5s;

		a {
			position: relative;
		}

		img {
			@include transform-center();
			width: 70%;
			transition: opacity 0.4s;
			transition-delay: 0.8s;
			
		}

		&-wrap {
			@include panel(250px, 250px)
			width: 100%;
			height: 100%;
			display: block;
			transition: all 0.5s;
			transition-delay: 0.5s;
		}

		&-expansion {
			width: 100%;
			display: none;
			background-color: gray;
			width: 88%;
			height: auto;
			min-height: 0;
			background-color: gray;
		    position: absolute;
		    transform: translateX(-50%);
		    max-width: 80em;
		    left: 50%;
		    padding: 0 1.4%;
		    transition: min-height 0.3s;
		    margin-top: 10px;
		}

		&.active {
			border-radius: 50%;
			transform: scale(0.45);
			z-index: 1;
			transition: all 0.5s;
			transition-delay: 0.3s;

			img {
				opacity: 0;
				transition: opacity 0.3s;
				transition-delay: 0s;
			}

			.portfolio-piece-wrap {
				border-radius: 50%;
				transition: all 0.5s;
				transition-delay: 0.3s;
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	transition: all 0.3s;

	&-close {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 1.5em;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: $color-white;
		text-align: center;
		cursor: pointer;

		&:before {
			@include transform-center();
			top: 45%;
		}
	}

	&-content {
		height: 100%;
		width: 100%;
    	overflow-y: auto;
	}

	&.active {
		opacity: 1;
		visibility: visible;
		transition-delay: 1s;
	}
}